@page "/CanonPage/{CanonFile}"
@using Creeds.Data
@inject IJsonLoader Loader
@inject IDatabase Database

@if (_summary == null)
{
    <h1>Oh no!</h1>
    <p>
        <em>We did not find a catechism called '@CanonFile'</em>
    </p>
}
else
{
    <h1>@_summary.Title</h1>

    <p>@_summary.SourceAttribution</p>

    <p>@_summary.Year</p>
    if (_document == null)
    {
        <p>We couldn't load @_summary.Title</p>
    }
    else
    {
        <ListView Items="@_document.Data" Render="true">
            <ItemTemplate>
                <li value="@context.Article">
                    <p style="word-break: break-word; white-space: normal;">@context.Title<br>@context.Content</p>
                </li>
            </ItemTemplate>
        </ListView>
    }
}

@code {
    [Parameter]
    public string CanonFile { get; set; }
    private Summary _summary;
    private Document<ICollection<ArticleItem>> _document;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CanonFile) || !IsValidCreed(CanonFile))
            return;
        _summary = Database.Creeds.First(c => c.FileName == CanonFile);
        _document = await Loader.LoadAsync<Document<ICollection<ArticleItem>>>($"creeds/{_summary.FileName}.json");
    }

    private bool IsValidCreed(string creedFile)
    {
        return Database.Creeds.Any(c => c.FileName == creedFile);
    }
}
