@page "/CatechismPage/{CatechismFile}"
@using Creeds.Data
@inject IJsonLoader Loader
@inject IDatabase Database

@if (_summary == null)
{
    <h1>Oh no!</h1>
    <p>
        <em>We did not find a catechism called '@CatechismFile'</em>
    </p>
}
else
{
    <h1>@_summary.Title</h1>

    <p>@_summary.SourceAttribution</p>

    <p>@_summary.Year</p>
    if (_document == null)
    {
        <p>We couldn't load @_summary.Title</p>
    }
    else
    {
        <ListView Items="@_document.Data" Render="true">
            <ItemTemplate>
                <li value="@context.Number">
                    <p style="white-space: pre">@context.Question<br>@context.Answer</p>
                </li>
            </ItemTemplate>
        </ListView>
    }
}

@code {
    [Parameter]
    public string CatechismFile { get; set; }
    private Summary _summary;
    private Document<ICollection<Catechism>> _document;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(CatechismFile) || !IsValidCreed(CatechismFile))
            return;
        _summary = Database.Creeds.First(c => c.FileName == CatechismFile);
        _document = await Loader.LoadAsync<Document<ICollection<Catechism>>>($"creeds/{_summary.FileName}.json");
    }

    private bool IsValidCreed(string creedFile)
    {
        return Database.Creeds.Any(c => c.FileName == creedFile);
    }
}